<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sighting Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>


  <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">Bird Sighting Club</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/add">Upload</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
  <h1>
      bird sighting at....timestamp
  </h1><br>

 <h1>
     Bird name:
     <%= bird.birdName %>
     <input type='text' name="birdName"/><br>
     <button type="submit" name="g" value="submit">Upload</button>
 </h1>

  <div class="row">
      <div class="col">
          <img class="rounded float-start" alt="ex pic" width="400" height="600" src="<%= bird.img %>">
<!--          <img src="img/Shapiro.jpeg" alt="ex pic" width="400" height="450">-->
      </div>

      <div class="col-5"
           <br>Address:
            <br><%= bird.address %><br>


          <div id="map" style="width: 100%; height: 200px;"></div>

          <input id="latA" value= <%= bird.latDisplay %> style="display:none">
          <input id="lngA" value= <%= bird.lngDisplay %> style="display:none">

          <script>
              function initMap() {
                  var latA = Number(document.getElementById("latA").value);
                  var lngA = Number(document.getElementById("lngA").value);

                  var myLatLng = {lat: latA, lng: lngA};

                  var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 12.5,
                      center: myLatLng
                  });

                  var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'My Location'
                  });
              }
          </script>
<!--          NEED TO INSERT GOOGLE MAPS JAVASCRIPT API-->
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ9gcEoETHLesDRF_qNPNTyLM9wbkxLBU&callback=initMap"></script>


<!--          <iframe width="600"  &lt;!&ndash; set the width of the map &ndash;&gt;-->
<!--                  height="450"  &lt;!&ndash; set the height of the map &ndash;&gt;-->
<!--                  frameborder="0" style="border:0"  &lt;!&ndash; remove the border around the map &ndash;&gt;-->
<!--                  src="https://www.google.com/maps/embed/v1/place?q=S37RD&key=API_GOES_HERE">-->
<!--          </iframe>-->
          Description:<br>
          <%= bird.description %><br>
        <p></p>
        <input id="birdSearch" value= <%= bird.birdName %> style="display:none">
        <p><---DBpedia---></p>
        <p id="pediaName"></p>
        <p id="pediaContent"></p>
        <p id="pediaLink"></p>

        <script>
            var bird2 = document.getElementById("birdSearch").value;
            console.log(bird2);
            // SPARQL 쿼리
            var query =
            "PREFIX dbpedia2: <http://dbpedia.org/property/>\n" +
            "PREFIX dbpedia: <http://dbpedia.org/>\n" +
            "select distinct ?label ?comment ?type ?s\n" +
            "where {\n" +
            "  ?s rdf:type ?type;\n" +
            "     rdfs:label ?label;\n" +
            "     rdfs:comment ?comment.\n" +
            "  FILTER (langMatches(lang(?comment),\"en\")).\n" +
            "  FILTER (langMatches(lang(?label),\"en\")).\n" +
            "  FILTER regex(?type, \"ontology/Bird\").\n" +
            "  FILTER regex(?s, \"" + bird2 + "\").\n" +
            "} LIMIT 15";

            // SPARQL 엔드포인트 URL
            var endpointUrl = 'https://dbpedia.org/sparql';

            // AJAX 요청
            var xhr = new XMLHttpRequest();
            xhr.open('POST', endpointUrl, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('Accept', 'application/sparql-results+json');
            xhr.setRequestHeader('Cache-Control', 'no-cache'); // 캐시 비활성화

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        processSparqlResults(response);
                    } else {
                        document.getElementById("pediaName").innerHTML = "Unknown"
                        console.log("Unknown");
                    }
                }
            };

            xhr.send('query=' + encodeURIComponent(query));

            // SPARQL 결과 처리 함수
            function processSparqlResults(data) {
                var bindings = data.results.bindings;

                if (bindings.length === 0) {
                    document.getElementById("pediaName").innerHTML = "Unknown";
                    console.log("Unknown");
                }else {
                    for (var i = 0; i < bindings.length; i++) {
                        var label = bindings[i].label.value;
                        var comment = bindings[i].comment.value;
                        //var type = bindings[i].type.value;
                        var uri = bindings[i].s.value;

                        var pageLink = 'https://dbpedia.org/resource/' + encodeURIComponent(uri.substring(uri.lastIndexOf('/') + 1));
                        console.log("Name: " + label, "/ Description: " + comment, pageLink);
                        document.getElementById("pediaName").innerHTML = "Name: " + label;
                        document.getElementById("pediaContent").innerHTML = "Description: " + comment;
                        document.getElementById("pediaLink").innerHTML = "DBpedia link: " + pageLink;
                    }
                }

            }
        </script>




      </div>
  </div>
  <div class="chat-box">
      <div class="chatlog">
          <ul class="chatlog-list"></ul>
      </div>
      <div class="chat-input">
          <input type="text" class="chat-input-box" placeholder="Type your message...">
          <button class="chat-send-btn">Send</button>
      </div>
  </div>


</body>
</html>