<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sighting Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/details.css'/>
    <script src="../public/javascripts/index.js"></script>
    
</head>
<body onload="init()">

    <% include ../public/partials/headers.ejs %>

    <h1>
      <%=bird.userName %> 's Sighting at <%=bird.observedAt %>
    </h1><br>

    <form method="POST" action="/details/<%= bird._id %>">
      <h1> Bird name: </h1>
      <div>
          <input type="text" name="birdName" id="birdName" value="<%= bird.birdName %>">
      </div>

      <button type="submit" name="updateName" >Update</button>

    </form>


    <div class="row">
      <div class="col">
        <img class="rounded float-start" alt="ex pic" src="<%= bird.img %>" style="max-width: 100%; height: auto;">
      </div>

      <div class="col-5">
        <p style="color:#007bff;">[Address]</p>

          <div id="map" style="width: 100%; height: 200px;"></div>

          <!-- To get the Lattitude and Longitude from the database -->
          <!-- And give them id, to make they can be used in JS below -->
          <input id="latA" value= <%= bird.latDisplay %> style="display:none">
          <input id="lngA" value= <%= bird.lngDisplay %> style="display:none">

          <script>
              function initMap() {

                  <!-- declare the values-->
                var latA = Number(document.getElementById("latA").value);
                var lngA = Number(document.getElementById("lngA").value);
                var myLatLng = {lat: latA, lng: lngA};

                var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 12.5,
                      center: myLatLng
                  });

                  var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'My Location'
                  });
              }
          </script>

          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ9gcEoETHLesDRF_qNPNTyLM9wbkxLBU&callback=initMap"></script>

          <p style="color:#007bff;">[Description]</p>
          <%= bird.description %><br>

          <p></p>

          <!-- To get the Birdname from the database -->
          <!-- And give them id, to make they can be used in JS below -->
          <input id="birdSearch" value= "'<%= bird.birdName %>'" style="display:none">
          <input id="birdSearch2" value= <%= bird.birdName %> style="display:none">

          <!-- DBpedia result -->
          <p style="color:#007bff;">[DBpedia]</p>
          <p id="pediaName"></p>
          <p id="pediaContent"></p>
          <p id="pediaLink"></p>
          <p id="pediaMessage" style="color:#007bff;"></p>

          <script>
              var bird2 = document.getElementById("birdSearch").value;
              var bird1 = document.getElementById("birdSearch2").value;

              console.log(bird2);
              // SPARQL query
              var query =
                  "PREFIX dbpedia: <http://dbpedia.org/>\n" +
                  "SELECT *\n" +
                  "WHERE {\n" +
                  "  ?s rdfs:label ?label;\n" +
                  "     rdfs:comment ?comment;\n" +
                  "     rdf:type ?type.\n" +
                  "  FILTER regex(str(?type), \"Bird\", \"i\").\n" +
                  "  ?label bif:contains \"" + bird2 + "\".\n" +
                  "  FILTER regex(?label, \"^" + bird1 + "\", \"i\").\n" +
                  "  FILTER (langMatches(lang(?comment), \"en\")).\n" +
                  "} Limit 1";

              // SPARQL endpoint URL
              var endpointUrl = 'https://dbpedia.org/sparql';

              // AJAX request
              var xhr = new XMLHttpRequest();
              xhr.open('POST', endpointUrl, true);
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.setRequestHeader('Accept', 'application/sparql-results+json');
              xhr.setRequestHeader('Cache-Control', 'no-cache'); // 캐시 비활성화

              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                          var response = JSON.parse(xhr.responseText);
                          processSparqlResults(response);
                      } else {
                          document.getElementById("pediaName").innerHTML = "Unknown - did not match any birds. Please enter the exact name with the correct spelling and spacing."
                          console.log("Unknown");
                      }
                  }
              };

              xhr.send('query=' + encodeURIComponent(query));

              // SPARQL result function
              function processSparqlResults(data) {
                  var bindings = data.results.bindings;

                  if (bindings.length === 0) {
                      document.getElementById("pediaName").innerHTML = "Unknown - did not match any birds. Please enter the exact name with the correct spelling and spacing.";
                      console.log("Unknown");
                  }else {
                      for (var i = 0; i < bindings.length; i++) {
                          var label = bindings[i].label.value;
                          var comment = bindings[i].comment.value;
                          var uri = bindings[i].s.value;
                          var pageLink = 'https://dbpedia.org/resource/' + encodeURIComponent(uri.substring(uri.lastIndexOf('/') + 1));
                          console.log("Name: " + label, "/ Description: " + comment, pageLink);
                          document.getElementById("pediaName").innerHTML = "Name: " + label;
                          document.getElementById("pediaContent").innerHTML = "Description: " + comment;
                          document.getElementById("pediaLink").innerHTML = "DBpedia link: " + pageLink;
                          document.getElementById("pediaMessage").innerHTML = "※If you cannot find the desired result, please enter the exact name with the correct spelling and spacing."
                      }
                  }
              }
          </script>
      </div>
    </div>


    <div id="chat-box" style="display: block; background-color: #d8dada; width: 50%" >
        <div id="history" class="boxed" style="height: 300px; margin:5px;">
            <div class="title" style="display: inline" >Welcome chat!
                <br>
                <% for(var i=0; i<savedChats.length; i++) { %>
                    <p> <%= savedChats[i].username %> :  <%= savedChats[i].message %></p>
                <% } %>
            
            </div>
        </div>

        <div id="input">
            <form onsubmit="return false;" style="width: 100%; height: 100%">
                <p>
                    <label class="title" for="name"> User/Chat:</label>
                    <input class="blank" type="text" id="userID" name="userID" style="width: 15%">
                    <input class="blank" type="text" id="chat_input" name="chat_input" style="width: 57%">
                    <button id="chat-send-btn" onclick="sendChatText('<%= bird._id %>')">Send</button>
                </p>
            </form>
        </div>
    </div>


</body>
</html>